---
layout: default
properties:
  - title: "Villa Casa, Assagao"
    description: Gorgeous 4-bedroom, 2-bathroom home in beautiful Silver Lake. This property offers 1,160 square feet of living space and a lot size of 5,499 square feet. Your family and loved ones will enjoy the spacious backyard, perfect for family gatherings! Come and take a look at this beauty…
    images:
      - title: images/property1.jpeg
      - title: images/property2.jpeg
  - title: "Villa Menezes, Anjuna"
    description: This 1,523 square foot single-family home has 3 bedrooms and 3.0 bathrooms. It is located at 3991 Bleacher Ave, Burbank, California.
    images:
      - title: images/property3.jpeg
      - title: images/property4.jpeg
  - title: "Passion Escape, Anjuna"
    description: This 1,523 square foot single-family home has 3 bedrooms and 3.0 bathrooms. It is located at 3991 Bleacher Ave, Burbank, California.
    images:
      - title: images/property5.jpeg
      - title: images/property6.jpeg
---

<div class="cover-section section">
  <h1 id="logo">Greenscape Realty</h1>
  <div class="btn-group">
    <a href="#intro-section" class="button button-default" id="learn-more" onclick="$(this).scrollToId('#intro-section', 800, 30); return false">Learn More</a>
    <a href="#contact-section" class="button button-default" id="contact" onclick="$(this).scrollToId('#contact-section', 800, 30); return false">Request Callback</a>
  </div>
  <div id="cover-overlay"></div>
</div>

<div class="section" id="intro-section">
  <div class="container">
    <h3 class="section-title">About Greenscape Realty</h3>
    <p>
      Greenscape Realty is the brainchild of Shane Dias, Shawn Gomes and Shannon Gomes. The partners in this construction company are all highly experienced in the fields of construction and Air Conditioning. Since its inception, the company’s sole motive has been to develop high-end villas while paying attention to detail. The company excels at producing state of the art luxury villas for its clients. We are now looking to venture into the market of apartment construction with the same attention to detail that is applied in the villa constructions.
    </p>
  </div>
</div>

<div class="projects-section section">
  <h3 class="section-title">Projects</h3>

  <div class="properties-wrap">
    <ul class="inner">
      {% for property in site.properties %}
        <li class="property-item">
          <div class="flexslider">
            <ul class="slides">
            {% for image in property.images %}
              <li>
                <img src="{{image.url}}" />
              </li>
            {% endfor %}
            </ul>
          </div>
          <h1 class="title">{{property.title}}</h1>
          <p class="description">
            {{property.description}}
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="section" id="contact-section">
  <h3 class="section-title">Contact Us</h3>
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <form action="">
          <div class="form-group">
            <label>Name</label>
            <input placeholder="Full name" class="form-control u-full-width" />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input placeholder="your@email.com (optional)" class="form-control u-full-width" />
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input placeholder="Phone (optional)" class="form-control u-full-width" />
          </div>
          <div class="form-group">
            <label>Message</label>
            <textarea placeholder="Message" class="form-control u-full-width" rows="6"></textarea>
          </div>
          <input class="button-primary" type="submit" value="Send Message">
        </form>
      </div>
      <div class="four columns">
        <h4 class="small-title">Greenscape Realty</h4>
        <address>
          S-8, Gera Complex,<br />
          Pato Plaza, Panaji<br />
          403110 - Goa
        </address>
        Phone: +91 9902 229911
      </div>
    </div>
  </div>
</div>

<div class="section footer-section">
  <p><strong>Greenscape Realty</strong> is the operated by <strong>Shane Dias</strong>, <strong>Shawn Gomes</strong> and <strong>Shannon Gomes</strong>.</p>
</div>
