---
layout: default
---

<div class="section" id="intro-section">
  <div class="container">
    <h3 class="section-title">About Greenscape Realty</h3>
    <p>
      Greenscape Realty is the brainchild of Shane Dias, Shawn Gomes and Shannon Gomes. The partners in this construction company are all highly experienced in the fields of construction and Air Conditioning. Since its inception, the company’s sole motive has been to develop high-end villas while paying attention to detail. The company excels at producing state of the art luxury villas for its clients. We are now looking to venture into the market of apartment construction with the same attention to detail that is applied in the villa constructions.
    </p>
  </div>
</div>

<div class="projects-section section">
  <h3 class="section-title">Projects</h3>

  <div class="projects-wrap">
    <ul class="inner">
      {% for project in site.projects %}
        <li class="project-item">
          <div class="flexslider">
            <ul class="slides">
            {% for image in project.images limit:3 %}
              <li>
                <img src="{{image.url | prepend: site.baseurl}}" />
              </li>
            {% endfor %}
            </ul>
          </div>
          <h1 class="title"><a href="{{project.path | replace_first: '_', '' | prepend: site.baseurl}}">{{project.title}}</a></h1>
          <p class="description">
            {{project.description}}
          </p>
          <a href="{{project.path | replace_first: '_', '' | prepend: site.baseurl}}" class="button button-default">View all images ({{project.images.size}})</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% include contact.html %}
