---
permalink: /projects/
layout: default
---

<div class="section">
  <div class="container projects-page">
    {% for project in site.projects %}
      <li class="project-item">
        {% for image in project.images limit:1 %}
          <li>
            <img src="{{image.url | prepend: site.baseurl}}" />
          </li>
        {% endfor %}
        <h1 class="title"><a href="/{{project.path | replace_first: '_', ''| prepend: site.baseurl}}">{{project.title}}</a></h1>
        <p class="description">
          {{project.description}}
        </p>
      </li>
    {% endfor %}
  </div>
</div>
