<div class="section" id="contact-section">
  <h3 class="section-title">Contact Us</h3>
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <form action="">
          <div class="form-group">
            <label>Name</label>
            <input placeholder="Full name" class="form-control u-full-width" />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input placeholder="your@email.com (optional)" class="form-control u-full-width" />
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input placeholder="Phone (optional)" class="form-control u-full-width" />
          </div>
          <div class="form-group">
            <label>Message</label>
            <textarea placeholder="Message" class="form-control u-full-width" rows="6"></textarea>
          </div>
          <input class="button-primary" type="submit" value="Send Message">
        </form>
      </div>
      <div class="four columns">
        <h4 class="small-title">Greenscape Realty</h4>
        <address>
          S-8, Gera Complex,<br />
          Pato Plaza, Panaji<br />
          403110 - Goa
        </address>
        Phone: +91 9902 229911
      </div>
    </div>
  </div>
</div>
